/* IMPOSTAZIONI GENERALI */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')


/* HEADER */ 
* {
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    background-image: linear-gradient(to top right,  #0b87b0 50%, #AACFEF 100%);
}


.box {
    width: 240px;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: linear-gradient(top right, #96e9e9 10%, #2a85a3 100%);
    margin: 0 auto;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    
  }
  
/* MAIN */
body {
    
 background-image: url(/FE-S1-L4-Esercizio/assets/img/sfondo.png);
 text-align: center;
 width: 240px;
 height: 200px;
 border: 1px solid black;
 margin: 0 auto;
 
 
}
article {
    text-align: center;
    width: 240px;
    display: block;
    border: 1px solid black;
    margin: 0 auto;
    
}


/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
